In [1]:
from requests import get
from bs4 import BeautifulSoup
import re
import pandas as pd

In [2]:
url = "https://www.thehindu.com/latest-news/"

In [3]:
data = get(url)

In [5]:
soup = BeautifulSoup(data.content,"html.parser")

In [67]:
raw =[]
for i in soup.find_all("ul",class_="latest-news"):
    i = i.text
    i = i.upper()
    i = re.sub("[^0-9A-Z|,\n ]","",i)
    a = i.split("\n")

In [68]:
for i in range(2,len(a),3):
    raw.append(a[i])

In [75]:
raw1 = []
for i in raw:
    i = i.split("|")
    raw1.append(i)

In [94]:
article = []
for i in range(0,386,1):
    article.append(raw1[i][0])

In [99]:
fi_article = []
for i in article:
    i  = i.rstrip()
    fi_article.append(i)

In [102]:
state = []
for i in soup.find_all("span",class_="homeSection-name"):
    state.append(i.text)

In [105]:
time = []
for i  in soup.find_all("span",class_="l-datetime"):
    time.append(i.text)

In [110]:
news = pd.DataFrame([fi_article,state,time]).T

In [112]:
news.columns = ["Title","State","Time"]

In [114]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfv = TfidfVectorizer()
A = tfv.fit_transform(fi_article).toarray()

In [115]:
A

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [116]:
from sklearn.cluster import KMeans
km = KMeans(n_clusters=5)
cls = km.fit(A)

In [117]:
cls.labels_

array([3, 3, 2, 0, 4, 0, 3, 1, 0, 0, 1, 1, 3, 2, 0, 2, 4, 3, 2, 0, 2, 0,
       0, 0, 0, 2, 0, 2, 3, 1, 0, 0, 0, 3, 4, 0, 2, 2, 0, 1, 0, 0, 1, 2,
       2, 2, 0, 1, 1, 3, 0, 3, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 1,
       0, 0, 4, 0, 4, 2, 0, 0, 0, 0, 1, 2, 0, 1, 4, 0, 2, 0, 0, 1, 0, 0,
       0, 1, 0, 1, 1, 2, 1, 1, 0, 0, 1, 0, 2, 2, 0, 2, 0, 0, 0, 3, 1, 2,
       3, 0, 2, 0, 1, 1, 2, 0, 1, 1, 0, 1, 0, 3, 1, 2, 0, 2, 0, 0, 0, 1,
       0, 2, 0, 0, 0, 2, 2, 3, 0, 1, 4, 0, 1, 2, 0, 1, 2, 2, 1, 0, 2, 3,
       0, 0, 3, 0, 3, 0, 0, 3, 2, 0, 0, 0, 2, 3, 0, 0, 2, 0, 2, 0, 0, 1,
       0, 2, 0, 0, 3, 0, 1, 0, 1, 3, 0, 1, 2, 1, 1, 0, 1, 0, 1, 1, 0, 1,
       0, 1, 0, 2, 0, 3, 2, 0, 0, 3, 1, 3, 3, 3, 0, 0, 4, 3, 1, 0, 3, 1,
       4, 2, 0, 0, 2, 1, 3, 0, 3, 1, 1, 0, 3, 3, 0, 2, 4, 0, 0, 2, 1, 2,
       0, 0, 0, 0, 3, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 3, 0, 2, 2, 0, 0,
       0, 2, 4, 0, 2, 1, 1, 1, 2, 0, 2, 0, 2, 0, 2, 1, 0, 2, 2, 0, 1, 0,
       2, 0, 2, 0, 0, 4, 1, 2, 3, 1, 0, 2, 0, 2, 0, 2, 1, 0, 3, 2, 2, 2,
       4, 0, 0, 3, 0, 1, 1, 1, 0, 1, 0, 0, 1, 3, 2, 0, 1, 1, 2, 2, 3, 2,
       3, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 2, 3, 0, 0, 0, 0,
       0, 0, 2, 3, 1, 0, 3, 0, 0, 0, 2, 1, 2, 0, 0, 1, 0, 0, 2, 0, 2, 0,
       0, 0, 2, 4, 3, 3, 3, 2, 1, 3, 1, 0])

In [118]:
news["Cluster"] = cls.labels_

In [124]:
news[news["Cluster"]==4]

,Title,State,Time,Cluster
4,TWO MORE OMICRON CASES,Kerala,23:16,4
16,STATE ADDS 181 CASES TO COVID TALLY,Hyderabad,22:47,4
34,ERODE DISTRICT REPORTS 48 COVID19 CASES,Coimbatore,22:18,4
62,HC ASKS CB TO CONDUCT PROPER PROBE IN MONSON C...,Kerala,20:51,4
68,"3,471 NEW COVID19 CASES IN STATE",Kerala,20:37,4
70,ICMR APPROVES INDIGENOUSLY DEVELOPED KIT TO DE...,Health,20:34,4
80,44 FRESH CASES IN CENTRAL REGION,Tiruchirapalli,20:16,4
142,44 CRORE SPENT TO ASSIST INDIAN CITIZENS ABROA...,National,18:03,4
214,NEW DRUG COULD TREAT PATIENTS HOSPITALISED WIT...,Health,12:54,4
220,"DELHI LOGS 10 NEW CASES OF OMICRON, TOTAL REAC...",Delhi,12:42,4
236,MISS WORLD FINALE POSTPONED DUE TO COVID19 FEARS,International,10:47,4
266,"NO NEW OMICRON CASES, BUT MAHARASHTRAS COVID19...",Other States,03:53,4
291,ONE DEATH AND 24 FRESH COVID19 CASES IN UT,Puducherry,01:29,4
308,FRESH COVID19 CASES DIP TO 627 IN TAMIL NADU,Tamil Nadu,01:13,4
377,FIVE MORE CASES OF OMICRON IN KARNATAKA,Karnataka,00:02,4

In [125]:
E = {
    0:"Crime",
    1:"Social",
    2:"Geopolitics",
    3:"Nation",
    4:"Health"
    }

In [126]:
category = []
for i in news.Cluster:
    category.append(E[i])

In [128]:
news["Category"] = category

In [129]:
news

,Title,State,Time,Cluster,Category
0,DMK GOVERNMENT DECLARES TAMIL THAI VAAZHTHU TH...,Tamil Nadu,23:31,3,Nation
1,REHAB EXPRESS TO THE AID OF THE DIFFERENTLY ABLED,Kerala,23:28,3,Nation
2,"TRS MPS, MINISTERS PLAN ANOTHER VISIT TO DELHI",Hyderabad,23:27,2,Geopolitics
3,3 CHADDI GANG MEMBERS ARRESTED,Andhra Pradesh,23:17,0,Crime
4,TWO MORE OMICRON CASES,Kerala,23:16,4,Health
...,...,...,...,...,...
381,"TRIBUTES PAID TO GEN BIPIN RAWAT, OTHERS",Karnataka,00:01,2,Geopolitics
382,340 KG GANJA SEIZED IN TIRUPPUR,Coimbatore,00:01,1,Social
383,"TAC FOR IMPOSING SEC 144, NIGHT CURFEW IN THE ...",Karnataka,00:01,3,Nation
384,SCHOOLS UP IN ARMS OVER GOVT DEMAND FOR SPORTS...,Karnataka,00:00,1,Social
385,FAKE IT OFFICERS HELD FOR RAIDING REALTORS HOME,Hyderabad,00:00,0,Crime